:root {
  --main-text-color: #000;
  --accent-color: #f7941e;
  --main-bg-color: #f1f1f2;
  --secondary-bg-color: #231f20;
  --main-white-color: #ffffff;
}

body {
  background-color: #f1f1f2;
}

.hero-title {
  font-size: 56px;
  line-height: calc(69 / 56);

  color: var(--main-text-color);
}

.hero-text {
  font-size: 20px;
  line-height: calc(28 / 20);
  color: var(--main-text-color);
}

.hero-buttom {
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;

  color: var(--main-white-color);
  background-color: var(--accent-color)
}
