:root {
  --main-text-color: #000;
  --accent-color: #f7941e;
  --main-bg-color: #f1f1f2;
  --secondary-bg-color: #231f20;
  --main-white-color: #ffffff;
}

body {
  background-color: #f1f1f2;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  background-color: #f1f1f2;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}
.container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 4px solid chartreuse;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ---------------------------------- sign ---------------------------------- */

.sign {
  background-color: var(--accent-color);
}
.sign-headline {
  font-size: 32px;
  line-height: 140.62%;
  color: var(--main-text-color);
  padding-top: 81px;
}
.sign-text {
  font-size: 32px;
  line-height: 140.62%;
  color: var(--main-text-color);
  padding-bottom: 69px;
}

.sign-button {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  min-width: 200px;
  height: 48px;
  left: 54.79%;
  right: 31.32%;
  top: 40%;
  bottom: 40%;
  margin: 0 auto;
  background-color: transparent;
  color: var(--main-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}
.sign-button:hover,
.sign-button:focus {
  color: var(--main-white-color);
  background-color: var(--secondary-bg-color);
}
