:root {
  --main-text-color: #000;
  --accent-color: #f7941e;
  --main-bg-color: #f1f1f2;
  --secondary-bg-color: #231f20;
  --main-white-color: #ffffff;
}

body {
  background-color: #f1f1f2;
}

/* .btn {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--accent-color);
  background-color: transparent;
  padding: 23px 24px 15px 25px;
  border-color: var(--accent-color);
  border-radius: 5px;
}

.btn-secondary {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}
.btn:hover,
.btn:focus{

} */
