:root {
  --main-text-color: #000;
  --accent-color: #f7941e;
  --main-bg-color: #f1f1f2;
  --secondary-bg-color: #231f20;
  --main-white-color: #ffffff;
}

body {
  background-color: #f1f1f2;
}


p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .socials {
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
}

.socials .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  color: #fff;
  background-color: #000;
}

.socials-icon {
  fill: currentColor;
}

.socials .item + .item {
  margin-left: 24px;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright .text + .text {
  margin-left: 14px;
}